 body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(69, 245, 122);
        }

        main {
            width: 320px;
            background-color: white;
            padding: 30px;
            margin: 30px;
            margin: auto;
            border-radius: 8px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);

            h1 {
                display: block;
                text-transform: uppercase;
                font-size: 1.5rem;
                text-align: center;
                margin-top: 2px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-weight: 550;
            }
        }

        table {
            width: 100%;
            margin: auto;
            margin-top: 20px;
            width: 320px;
            height: 400px;
            border-collapse: collapse
        }

        td, th { 
            border: 1px solid black;
            width: 100%;
            background-color: rgb(66, 122, 74);
            text-align: center;
        }